<!doctype <!DOCTYPE html>
<html>
<head>
	<title>Evento....</title>
	<link href="../public/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel = "stylesheet" href = "../public/css/evento.css"/>
    <script type='text/javascript' src = "../public/source/query.js"></script>
    <script type='text/javascript' src = "../controllers/evento.js"></script>
    <script type='text/javascript' src = "../public/scripts/evento.js"></script>
    <script type="text/javascript" src = "../public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src = "../public/source/ventana.js"></script>
    <script type="text/javascript" src="../public/source/keyframes.min.js"></script>
</head>
<body>
	<div id= "divPagina">
		<nav id = "menu">
		 	<h4>Maestro De Ceremonia</h4>
		 	<button type="button" id ="inputButtonEvento1" class = "btn btn-info botonMenu"><span class="glyphicon glyphicon-chevron-up"></span>Personal</button>
		 	<button type="button" id ="inputButtonEvento2" class = "btn btn-info botonMenu"><span class="glyphicon glyphicon-chevron-up"></span>Alumnos</button>
		 	<button type="button" id ="inputButtonEvento3" class = "btn btn-info botonMenu"><span class="glyphicon glyphicon-chevron-up"></span>Pendientes</button>
		</nav>
		<div id = "componentePanel" class = "panel panel-info">
			<div class = "panel panel-info" id = "tituloPanel">
				<div class="panel-heading">
					<h3>Informacion de....</h3>
				</div>
			</div>
			<div class = "panel-body">
					<form id =lista_de_asistencia class="form-inline" role="form">
                        <div id="controlador"></div>
					</form>
			</div>
        </div>
    </div>
</body>
</html>