<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <link href="../public/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel = "stylesheet" href = "../public/css/login.css"/>
        <script type='text/javascript' src = "../public/source/query.js"></script>
        <script type='text/javascript' src='../controllers/login.js'></script>
        <script type="text/javascript" src="../public/js/bootstrap.min.js"></script>
        <title>Login</title>
    </head>
    <body>
        <header id = "headerLogin"><h4>IDENTIFICA TU AREA</h4></header>
        <div id = "divLogin">
            <form id = "fromLogin">
                <fieldset id ="fieldsetLogin">
                    <legend id = "legendLogin">Inciar Sesion</legend>
                    <p class = "divP">
                        <input type="text" id="inputUser" class = "inputLogin form-control input-lg" name="user" placeholder="Tipo de tarea.." title="Ingres usuario"/>
                    </p>
                    <p class = "divP">
                        <button type="submit" id = "inputButtonLogin" class = "btn btn-info"><span class="glyphicon glyphicon-chevron-up"></span>  Verificar...</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </body>
</html>